.list {
  width: 250px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.item {
  margin-bottom: 30px;
  text-align: center;
}

.name {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.character {
  margin: 0;
  font-style: italic;
}
