.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: coral;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: aqua;
}

.nav {
  margin-top: 20px;
  margin-bottom: 20px;
}
